@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Nunito;
}

h1 {
    font-weight: 500;
}

div.textos {
    position: relative;
    padding: 164px;
    padding-left: 60px;
}

div.imagens-1 {
    position: fixed;
    left: 550px;
    top: 10px;
    width: 522.5;
    height: 646.25;
    text-align: center;
    background-color: #E7F3FF;
    padding: 178px 197px;
    border-radius: 25px;
}